body {
    background-color: #4B3531;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

hr.solid {
    border-top: 3px solid #bbb;
}

#main-nav {
    background-color: #ABA26A;
    text-align: right;
}

#main-nav a {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

#main-nav li {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 10px;
    color: white;
}

#main-nav li:hover {
    background-color: #4B3531;
}