body {
    background-color: #4B3531;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header {
    list-style-type: none;
    padding: 10px;
    background-color: #ABA26A;
}

#header {
    float: left;
    width: 85%;
    font-size: x-large;
}

nav {
    background-color: #ABA26A;
    text-align: right;
    
}

nav a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
}

li {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 10px;
    color: white;
}

li:hover {
    background-color: #4B3531;
    
}

.sidenav {
    border: 2px solid black;
    float: right;
    top: 0px;
    padding: 5px;
    margin-right: 50px;
    margin-top: 100px;
}

#drink-result {
    margin-left: 70px;
    margin-top: 70px;
}