body {
    background-color: #4B3531;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header {
    list-style-type: none;
    padding: 10px;
    background-color: #ABA26A;
}

#header {
    float: left;
    width: 85%;
    font-size: x-large;
}

nav {
    background-color: #ABA26A;
    text-align: right;
    
}

nav a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
}

li {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 10px;
    color: white;
}

li:hover {
    background-color: #4B3531;
    
}

#drink-result {
    text-align: center;
}

#drink-text {
    width: 700px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
}