body {
    background-color: #4B3531;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header {
    list-style-type: none;
    padding: 10px;
    background-color: #ABA26A;
}

#header {
    float: left;
    width: 85%;
    font-size: x-large;
}

ul li {
    display: inline-block;
    padding: 10px;
}

ul li:hover {
    background-color: #4B3531;
}

nav a {
    color: white;
    text-decoration: none;
    float: right;
}

h1 {
    text-align: center;
    margin-top: 75px;
}