body {
    background-color: #4B3531;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header {
    list-style-type: none;
    padding: 10px;
    background-color: #ABA26A;
}

#header {
    float: left;
    width: 85%;
    font-size: x-large;
}

main {
    text-align: center;
}

ul li {
    display: inline-block;
    padding: 10px;
}

ul li:hover {
    background-color: #4B3531;
}

nav a {
    color: white;
    text-decoration: none;
    float: right;
}

h1 {
    text-align: center;
    margin-top: 75px;
}


#surpriseBtn {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #ABA26A 4px 4px 0 0;
  color: #ABA26A;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 20px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#surpriseBtn:hover {
  background-color: #fff;
}

#surpriseBtn:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 568px) {
  #surpriseBtn {
    min-width: 50px;
    padding: 0 25px;
  }
}
